html{
    scroll-behavior: smooth;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: rgba(255, 255, 255, 0.9);
    font-size: 13px;
    font-family: 'Netflix Sans light', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
    background-color: rgb(15, 15, 15);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}
section{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 0; /* Hide the scrollbar */
}

/* Nav Bar */



nav {
    position: fixed;
    width: 100vw;
    height: 4rem;
    top: 0;
    /* From https://css.glass */
    background: rgba(15, 15, 15, 0.1);
    box-shadow: 0 4px 30px rgba(1, 0, 0, 0.1);
    backdrop-filter: blur(1.4px);
    -webkit-backdrop-filter: blur(1.4px);
    display: flex;
    align-items: center;

}

nav a{
    margin-left: 2rem;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta {
    border: none;
    background: none;
    cursor: pointer;
}
  
.cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 10px;
    padding-right: 15px;
    text-transform: uppercase;
}
  
.hover-underline-animation {
    position: relative;
    color: rgba(255, 255, 255, 0.9) ;
    padding-bottom: 20px;
}
  
.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FE0202;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
  
a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    margin-right: 1rem;
    
}

#sukuna{
    width: 50px;
    height: 50px;
    margin: 10px;
}




/* home page */
    
#home-section{
    padding-top: 3rem;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(15, 15, 15);
    flex-direction: column;
    
}



center h2{
    font-size: 30px;
    line-height: 56px;
    margin-bottom: 2rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

center{
    margin-bottom: 6rem;
    position: relative;  
}


center img{
    margin-top: 5rem;
    width: 50rem;
    height: 10rem;
}


.wallpaper{
    position: absolute;
    right: 0;
    bottom: 0;

}




/* compétences page  */


.top10{
    width: 50rem;
    height: 25rem;
}

#competence-section{
    margin-top: 5rem;
}


/* footer */

footer {
    bottom: 0;
    width: 100vw;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkgrey;
    font-size: 1rem;
}

ul {
    list-style: none;
}
  
.example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.example-2 .icon-content {
    margin: 0 10px;
    position: relative;
}

.example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
}
.example-2 .icon-content a:hover {
    color: white;
}
.example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
    height: 100%;
}
  
.example-2 .icon-content a[data-social="linkedin"] .filled, .example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
    background-color: #0274b3;
}
  
.example-2 .icon-content a[data-social="github"] .filled, .example-2 .icon-content a[data-social="github"] ~ .tooltip {
    background-color: #24262a;
}

  